.education__container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.education__item {
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  padding: 32px 48px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.education__title {
  color: var(--call-to-action);
}

.education__details {
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
}

.education__details--icons {
  width: 20px;
  height: auto;
  margin-right: 12px;
  filter: invert(100%) sepia(100%) saturate(14%) hue-rotate(223deg)
    brightness(103%) contrast(107%);
}

.education__timeline,
.education__result {
  display: flex;
}

.education__date,
.education__marks {
  font-weight: 600;
}

@media (max-width: 768px) {
  .education__container {
    width: 80%;
  }
}
