.skills__container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.skills__items {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills__item {
  position: relative;
  margin-top: 24px;
}

.skills__item .skills__item-description {
  visibility: hidden;
  min-width: 100px;
  background-color: var(--background);
  text-align: center;
  border: 1px solid var(--text-color);
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 85%;
  margin-left: 4px;
}

.skills__item:hover .skills__item-description {
  visibility: visible;
}

.skills__item i {
  margin: 8px 16px;
  font-size: 100px;
}

@media (max-width: 768px) {
  .skills__container {
    width: 80%;
  }
}

@media (max-width: 375px) {
  .skills__container {
    width: 90%;
  }
}
