.main {
  display: flex;
  flex-direction: column;
  flex: 96%;
  height: 91vh;
  overflow: scroll;
}

.main::-webkit-scrollbar {
  display: none;
}
.main {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
