.sidebar {
  display: flex;
  flex-direction: column;
  flex: 4%;
  height: 90.4vh;
  background-color: var(--subtle-background);
  padding: 4px 8px;
  align-items: center;
  justify-content: space-between;
}

.sidebar__info,
.sidebar__profiles {
  display: flex;
  flex-direction: column;
}

.sidebar__user--icons,
.sidebar__profiles--icons {
  width: 24px;
  height: auto;
  display: flex;
  margin: 16px 0;
  flex-direction: column;
  filter: invert(100%) sepia(0%) saturate(16%) hue-rotate(186deg)
    brightness(86%) contrast(84%);
}

.sidebar__user--icons:hover,
.sidebar__profiles--icons:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: invert(100%) sepia(39%) saturate(0%) hue-rotate(297deg)
    brightness(109%) contrast(101%);
}

.sidebar__user {
  position: relative;
}

.sidebar__user .sidebar__user-icons-description {
  visibility: hidden;
  min-width: 100px;
  background-color: var(--background);
  text-align: center;
  border: 1px solid var(--text-color);
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  top: 55%;
  left: 105%;
  margin-left: 4px;
}

.sidebar__user:hover .sidebar__user-icons-description {
  visibility: visible;
}
