.footer {
  height: 3vh;
  position: relative;
  z-index: 100;
  bottom: 0%;
  background-color: var(--call-to-action);
  display: flex;
  flex-direction: row;
  padding: 4px 32px;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer__language {
  display: flex;
  align-items: center;
}

.footer__language--highlight {
  display: flex;
  margin: 0 4px;
  font-weight: bold;
  align-items: center;
}

.footer__icons {
  margin-right: 4px;
}

.footer__email {
  font-family: inherit;
  text-decoration: none;
  color: white;
}

.footer__email:hover {
  transform: scale(1.05);
}

.footer__email:visited {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    justify-content: center;
  }

  .footer__language {
    display: none;
  }
}
