/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.footer {
  height: 3vh;
  position: relative;
  z-index: 100;
  bottom: 0%;
  background-color: var(--call-to-action);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 4px 32px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
}

.footer__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__language--highlight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 4px;
  font-weight: bold;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__icons {
  margin-right: 4px;
}

.footer__email {
  font-family: inherit;
  text-decoration: none;
  color: white;
}

.footer__email:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.footer__email:visited {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__language {
    display: none;
  }
}
