.footer {
  position: relative;
  z-index: 100;
  bottom: 0%;
  background-color: var(--call-to-action);
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 4px 0;
  align-items: center;
  height: 3vh;
}
