.footer {
  position: relative;
  z-index: 100;
  bottom: 0%;
  background-color: var(--call-to-action);
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 4px 32px;
  align-items: center;
  justify-content: space-between;
  height: 3vh;
  color: white;
}

.footer__language {
  display: flex;
  align-items: center;
}

.footer__language--highlight {
  display: flex;
  margin: 0 4px;
  font-weight: bold;
  align-items: center;
}

.footer__icons {
  margin-right: 4px;
}

.footer__email {
  font-weight: medium;
  font-family: inherit;
  text-decoration: none;
  color: white;
}

.footer__email:hover {
  transform: scale(1.05);
}

.footer__email:visited {
  color: white;
  text-decoration: none;
}
